<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Sign-up</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.1/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="../static/signin.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form method="post" action="/flask/signup_request" name="info">
        <!--
        <img class="mb-4" src="../static/brand/bootstrap-logo-white.svg" alt="" width="72" height="57">
        -->
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </symbol>
        </svg>
        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
          <div>
            모든 항목을 작성해주세요.
          </div>
        </div>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            name="user_id"
            id="userId"
            placeholder="Hong-gildong"
          />
          <label for="userId">ID</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            name="user_pw"
            id="userPassword"
            placeholder="Password"
          />
          <label for="userPassword">Password</label>
        </div>
        <hr>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            name="user_name"
            id="userName"
            placeholder="Username"
          />
          <label for="userName">Name</label>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="signup">
          Sign-up
        </button>
      </form>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#signup").click(function() {
          if($("#userId").val().length == 0) {
            alert("아이디를 입력해주세요.");
            $("#userId").focus();
            return false;
          }
          
          if($("#userPassword").val().length == 0) {
            alert("비밀번호를 입력해주세요.");
            $("#userPassword").focus();
            return false;
          }
          
          if($("#userName").val().length == 0) {
            alert("이름을 입력해주세요.");
            $("#userName").focus();
            return false;
          }
        });
      });
    </script>
  </body>
</html>
